
@import "../_base.scss";

.auth-layout {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    .promo-container,
    .content-container {
        flex: 1 1 50vw;
    }

    .promo-container {
        display: grid;
        place-items: center;
    }

    .content-container {
        background-color: $primary-color;
        overflow-y: auto;
        height: 100vh;
    }
}

.form-container {
    padding: 20vh 2rem 0px;

    &.bigger-container {
        padding-block: 4rem;
    }
}