
@import "../_base.scss";

.main-layout {
    background-color: $background-color;

    header.main-header {
        background-color: $primary-color;
        display: flex;
        justify-content: space-between;
        padding: 1rem;
    }

    main.content {
        display: flex;
        justify-content: space-between;
        padding: 1rem;

        aside.menu-aside-container {
            width: 20%;

        }

        .main-content {
            width: 50%;
        }

        .contacts-container {
            width: 20%;
            max-height: 90vh;
            overflow-y: auto;
        }
    }
}