
@import "../_base.scss";

div.main-layout {

    header.main-header {
        background-color: $primary-color;
        display: flex;
        justify-content: space-between;
        padding: 1rem;
    }

    main.content {
        display: flex;
        justify-content: space-between;
        padding: 1rem;

        aside.menu-aside-container {
            width: 20%;

        }

        .main-content {
            width: 50%;
        }

        .contacts-container {
            width: 20%;
        }
    }
}