
@import "../_base.scss";

.miscellaneous-layout {
    background-color: $background-color;

    header.minimal-header {
        padding: 0px 5rem;
        background-color: $tertiary-color;
        color: white;
        height: 25px;
        border: 0;
    }
    
    header.main-header {
        border: 0;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        padding: 1.5rem;
        background-color: $primary-color;
        color: white;
        height: 105px;

        .title {
            font-size: 1.8em;
            font-weight: bold;
            line-height: normal !important;
            margin-bottom: 0;
        }

        a {
            margin-inline: 1rem;
        }

        .btn-auth {
            font-size: 1.05em;
            border: 3px solid white;
            color: white;
            transition: 1s;
            margin-left: 2rem;

            &:hover {
                background-color: white;
                color: $primary-color;
            }
        }

        .auth-link {
            font-size: 1.05em;
        }
    }

    .content-container {
        min-height: 50vh;
    }

    footer.main-footer{
        display: flex;
        justify-content: space-between;
        padding: 3rem;
        background-color: $primary-color;
        border-top: 12rem solid $secondary-color;
        color: white;

        p {
            margin-block: 1rem;
        }

        a {
            text-decoration: underline;

            &:hover {
                color: $secondary-color;
                text-decoration: underline;
            }
        }
    }
}

@media screen and (min-width: 970px) {
    .miscellaneous-layout {
        header.main-header {
            .title {
                font-size: 2.4em;
            }
        }
    }
}

@media screen and (min-width: 570px) {

}